Repository Kumar-laxmi/Find-My-Flight, pull requests merged in 2022-05, with the labels that each got.

#8 Temporary Merge
  .classpath
  .project
  bin/.gitignore
  bin/Main.class
  bin/Map.jpg
  bin/Map.png
  bin/PointConnect.class
  bin/StartPage$1.class
  bin/StartPage.class
  hs_err_pid32296.log
  hs_err_pid33908.log
  src/Main.java
  src/Map.jpg
  src/Map.png
  src/PointConnect.java
  src/StartPage.java
Labels: Java, UI/UX, Small Fixes

#10 Added graphs logic
  .DS_Store
  bin/.gitignore
  bin/PointConnect.class
  src/.DS_Store
  src/Graphs/Graph.java
  src/Graphs/package-info.java
  src/PointConnect.java
Labels: enhancement, help wanted, Algorithm, Java

#12 Airport Codes added
  .DS_Store
  bin/.gitignore
  bin/StartPage$1.class
  bin/StartPage.class
  src/Graphs/Graph.java
  src/Graphs/InsertIntoGraph.java
  src/ShortestPath/BST.java
  src/ShortestPath/package-info.java
  src/StartPage.java
Labels: enhancement, Algorithm, Java, Small Fixes

#18 Implementation of Weighted-Graph DS
  .DS_Store
  src/.DS_Store
  src/Graphs/WeightedGraph.java
Labels: enhancement, Algorithm, Java, Small Fixes

#19 Removed Point Connection Class
  bin/.DS_Store
  bin/.gitignore
  bin/PointConnect.class
  bin/ShortestPath/BST.class
  bin/ShortestPath/package-info.class
  bin/StartPage$2.class
  bin/StartPage.class
  src/Data.java
  src/PointConnect.java
  src/StartPage.java
Labels: enhancement, Java, UI/UX, Small Fixes

#23 Coordinates changed to integer
  bin/StartPage$1.class
  bin/StartPage$2.class
  bin/StartPage.class
  src/StartPage.java
Labels: bug, Java, UI/UX, Small Fixes

#27 Project Ready
  bin/.gitignore
  bin/Data.class
  bin/Graphs/WeightedGraph$Graph.class
  bin/Graphs/WeightedGraph.class
  bin/Main.class
  bin/StartPage$1.class
  bin/StartPage$2.class
  bin/StartPage$3.class
  bin/StartPage$4.class
  bin/StartPage$5.class
  bin/StartPage$6.class
  bin/StartPage.class
  src/Data.java
  src/Graphs/DijkstrasAlgorithm.java
  src/Graphs/Dijkstras_Algorithm.java
  src/Graphs/WeightedGraph.java
  src/Result.java
  src/UserInterface/Data.java
  src/UserInterface/Main.java
  src/UserInterface/StartPage.java
Labels: bug, enhancement, help wanted, Data-base, Algorithm, Java, UI/UX, Big Fixes
